@{
	ViewData["Title"] = "Home Page";
}

<div class="text">
	<h3>Agricultura <br /> inteligente para um <br />futuro mais rentável <br />e sustutável.</h3>
	<button class="btn btn-outline-dark">Saiba Mais</button>

</div>
