@{
	ViewData["Title"] = "Home Page";
}

<div class="hero-banner">
	<div class="text">
		<h3>
			Agricultura <br /> inteligente para um <br />
			futuro mais rentável <br /> e sustentável.
		</h3>

		<button class="btn btn-light">Saiba Mais</button>
	</div>
</div>

<div>
	<img src="~/img/SolucaoInovadora.jpeg" alt="Alternate Text" />
</div>

<div class="text-lg-center">
	<h4>
		Nossa solução reduz custos e desperdícios no<br /> campo através da tecnologia. Desenvolvemos<br /> um trator pulverizador inteligente, equipado<br /> com sensores que mapeiam em tempo real a<br /> necessidade de insumos e acionam apenas os<br /> bicos correspondentes. <br />
		<br />O agricultor acompanha tudo por um<br /> aplicativo, com relatórios de economia, gastos<br /> e mapeamento do solo. Assim, aumentamos a<br /> rentabilidade e diminuímos o impacto<br /> ambiental do uso excessivo de químicos.
	</h4>
</div>

<div class="container text-center my-5">

	<h2 class="mb-4">Quem somos?</h2>
	<hr class="mb-5">

	<div class="row justify-content-center">

		<div class="col-md-2 col-sm-6 mb-4">
			<div class="card border-0">
				<img src="~/img/Victhor.jpeg" class="card-img-top rounded" />
				<div class="card-body p-2">
					<h5 class="card-title mb-2">Victhor</h5>
					<div>
						<a href="https://www.instagram.com/" class="mx-1"><i class="bi bi-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-2 col-sm-6 mb-4">
			<div class="card border-0">
				<img src="~/img/AnaBeatriz.jpeg" class="card-img-top rounded" />
				<div class="card-body p-2">
					<h5 class="card-title mb-2">Ana Beatriz</h5>
					<div>
						<a href="https://www.instagram.com/" class="mx-1"><i class="bi bi-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-2 col-sm-6 mb-4">
			<div class="card border-0">
				<img src="~/img/LuisOtavio.jpeg" class="card-img-top rounded" />
				<div class="card-body p-2">
					<h5 class="card-title mb-2">Luís Otávio</h5>
					<div>
						<a href="https://www.instagram.com/" class="mx-1"><i class="bi bi-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-2 col-sm-6 mb-4">
			<div class="card border-0">
				<img src="~/img/Rayane.jpeg" class="card-img-top rounded" />
				<div class="card-body p-2">
					<h5 class="card-title mb-2">Rayane</h5>
					<div>
						<a href="https://www.instagram.com/" class="mx-1"><i class="bi bi-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-2 col-sm-6 mb-4">
			<div class="card border-0">
				<img src="~/img/Lucas.jpeg" class="card-img-top rounded" />
				<div class="card-body p-2">
					<h5 class="card-title mb-2">Lucas</h5>
					<div>
						<a href="https://www.instagram.com/" class="mx-1"><i class="bi bi-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container text-center my-5">

	<h2 class="mb-4">Nossos Parceiros</h2>
	<hr class="mb-5">

	<img class="logo" src="~/img/Sicredi.jpeg" alt="Sicredi">
	<img class="logo" src="~/img/Senai.jpeg" alt="Senai">

</div>

<div class="text-center">
	<h1 class="fw-bold">AGRO FUTURO</h1>
	<h4>(14) 99810-0519<br />agrofuturosuporte@gmail.com<br />Rua Batavo Prafuncio, 560</h4>
	<h4>Agro Futuro para Agricultor<br />Suporte ao Cliente<br />Curiosidades</h4>
	<img class="LogoCla" src="~/img/Logo.jpeg" alt="LogoCla" />
</div>